ignore:
  filetags:
    - clippings
    - slides
    - video
    - video-content
remap:
  - output: content/videos.org
    title: Videos
    inputs:
      - source: content-creation/data-lab-tech/*.org
        outer_heading: Channel
      - source: content-creation/data-lab-tech/00-inbox/*.org
        todo: IDEA
      - source: content-creation/data-lab-tech/01-planned/*.org
        todo: TODO
        prefix_to_priority: true
      - source: content-creation/data-lab-tech/02-in-progress/*.org
        todo: STRT
        prefix_to_order: true
      - source: content-creation/data-lab-tech/03-published/*.org
        todo: DONE
        prefix_to_order: true
      - source: content-creation/data-lab-tech/90-on-hold/*.org
        todo: HOLD
        prefix_to_priority: true
      - source: content-creation/data-lab-tech/99-abandoned/*.org
        todo: KILL
  - output: content/writing.org
    title: Writing
    inputs:
      - source: philosophy/*.org
      - source: life/life-story-in-tech.org
  - output: knowledge/data-science.org
    title: Data Science
    inputs:
      - source: data-science/**/*.org
        path_as_headings: true
